.card {
    background-color: white;
    border: none;
}
.card-body{
    background-image:url(/assets/images/doorNew.png);
    background-position: center;
    background-size: cover;
    width: auto;
    height: 200px;

}