<div class="container-fluid">
    <div class="row">
      <div class="col-md-3" *ngFor="let student of userTestStatus2">
        <!--Card button delete-->
    
        <div appHoverImage class="card card-cascade mb-2">
           
          <!--Card image-->
          <div class="view overlay hm-white-slight waves-light " mdbRippleRadius>
              <img src="assets/images/service.png" class="img-fluid mt-4 pl-3 pr-3" alt="">
            <a>
              <div class="mask mt-4"></div>
            </a>
          </div>
          <!--/.Card image-->
    
          <!--Card content-->
          <div class="card-body text-left">
            <!--Title-->
            <h4 class="card-title">
            </h4>
            <h6 >{{student.name}}</h6>
           
          </div>
        </div>
      </div>
    </div>
</div>

    
      