

<div class="container-fluid" style="background-color: white;" (click)="getStudntFake()">
   
<!--
    <div class="row">
      <div class="col-md-3">
          <label>{{student.firstName}}</label>
        <input [(ngModel)]="student.lastName" mdbInputDirective placeholder="lastName" type="firstName" id="form58" class="form-control mt-5">
      </div>
      <div class="col-md-3">
        <input [(ngModel)]="student.firstName" mdbInputDirective placeholder="firstName" type="text" id="form58" class="form-control mt-5">
      </div>
    </div>
    <button (click)="addStudent()" type="button" class="btn btn-default waves-light ml-5 " mdbWavesEffect><i class="fa fa-plus"></i></button>
  </div>-->
 <!-- <div class="text-center mb-5" style="color: #85144B">
    <div *ngIf="hospitalName" [ngClass]="'success'"> <strong>{{hospitalName}} Added. </strong></div>
    <div *ngIf="errorMessage" [ngClass]="'error'"> <strong>{{errorMessage}} </strong></div>
  </div>-->
 




  
<div class="container-fluid">
  <div class="search-add">
    <div class="row">
   
    <div class="col-md-11">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442; Пошук">
    </div>
    <div class="col-md-1">
        <button (click)="open()" type="button" class="btn btn-default waves-light ml-5 " mdbWavesEffect><i class="fa fa-plus"></i></button>
            </div>
  </div>
</div>
    </div>
    <div class="switch">
        <label>
          Off
          <input type="checkbox">
          <span class="lever"></span> On
        </label>
      </div>
<div class="row">

  <div class="col-md-3" *ngFor="let student of students| filter:searchText">
    <!--Card button delete-->

    <div appHoverImage class="card card-cascade mb-2">
        <a (click)="dropStudent(student.id)" class="btn btn-danger btn-sm waves-light" role="button" mdbWavesEffect
        style="position: absolute; right: 0; z-index: 999;">
        <i class="fa fa-trash"></i>
      </a>
      <!--Card image-->
      <div class="view overlay hm-white-slight waves-light " mdbRippleRadius>
          <img src="assets/images/StudentIcon.jpg" class="img-fluid mt-4 pl-3 pr-3" alt=""  (click)="edit(student.id)">
        <a>
          <div class="mask mt-4"></div>
        </a>
      </div>
      <!--/.Card image-->

      <!--Card content-->
      <div class="card-body text-left">
        <!--Title-->
        <h4 class="card-title">
        </h4>
        <h6 > Ім'я: {{student.firstName}}</h6>
        <h6> Прізвище: {{student.lastName}}</h6>
        <h6> Кімната: {{student.room}}</h6>
        <h6> Мобільний номер: {{student.phoneNumber}}</h6>
        

    <a  class="btn btn-default btn-block waves-light" role="button" mdbWavesEffect>
        <span *ngIf="isSelected; else elseBlock">
            Close<i class="mb-1 ml-2 fa fa-close"></i>
        </span></a>
        <ng-template #elseBlock>
            <i class="mr-2 fa fa-envelope"  (click)="sendMessage()"></i>Написати повідомлення
        </ng-template>

      <!--/.Card content-->

    </div>
    <!--/.Card-->
  </div>
</div>
</div>
</div>