<p>При відкриті веб-додатку  користувач має пройти аутентифікацію.
    Після того як користувач веде правильну комбінацію логіну і паролю він перейде на головну сторінку програми.
В лівому куту сторінки розміщене меню з посиланнями: “Головна сторінка”, “Статистика”, “Студенти”, “Кімнати”, “Працівники”, “Послуги”, “Допомога”, “Нотатки”.
Головна сторінка програми містить стислі відомості про гуртожиток, а саме інформацію про кількість студентів, кімнат, працівників, послуг та нагадувань. Щоб переглянути більш розширену інформацію потрібно натиснути на кнопку “Детальна інформація”.
В правому верхньому куту програми знаходять 3 кнопки. Перша з них “ПР/ЛВ” яка дозволяє користувачеві корегувати місце розташування навігаційного меню. Наступна зображена у вигляді дзвіночка. Її призначення сповіщати про події які були внесені користувачем системи. Третя кнопка дозволяє корегувати профіль юзера.
На сторінці “Статистика” подана різноманітна інформація про студентів які проживають в гуртожитку в графічному вигляді. Система керуючись набором даних сама створює графіки. На цих графіках користувач може отримати інформацію про: 

</p>
<p>
•	Кількість студентів на кожному поверсі
</p>
<p>
•	Кількість студентів згрупованих по інститутах
</p>
<p>
Сторінка “Студенти” надає користувачеві список студентів які проживають в гуртожитку та стислу інформацію про них. Щоб переглянути більш детальні відомості та мати можливість редагування потрібно клікнути на об’єкт. Для швидкого пошуку даних реалізовано пошуковик, який допомагає знайти студента за його ім’ям або прізвищем. Щоб добавити новий об’єкт потрібно натиснути на кнопку “Добавити нового студента” та ввести контактну інформацію про нього. Біля кожного студента є кнопка у вигляді корзини, при її натисненні буде видалено дані про об’єкт з бази даних. Також реалізована можливість відіслати повідомлення на електрону пошту. Система керуючись набором даних може запропонувати свій список людей які потребують поселення. Щоб завантажети дані про студентів в exel файл потрібно натиснути на кнопку “Завантажити дані в exel”.
Сторінка “Працівники” міститиме дані про людей які працюють в гуртожитку. Ця вкладка містить схожий функціонал як і студенти за винятком контактної інформації та генерації рекомендаваного списку на поселення.
Сторінка “Кімнати” відображатиме список кімнат. При натисненні на кімнату користувач зможе переглянути її інформацію. А саме жителі кімнати та її майно. 
</p>