<div class="container-fluid">
    <div class="row">
      <div class="col-md-3" *ngFor="let student of personals">
        <!--Card button delete-->
    
        <div appHoverImage class="card card-cascade mb-2">
            <a (click)="dropStudent(student.id)" class="btn btn-danger btn-sm waves-light" role="button" mdbWavesEffect
            style="position: absolute; right: 0; z-index: 999;">
            <i class="fa fa-trash"></i>
          </a>
          <!--Card image-->
          <div class="view overlay hm-white-slight waves-light " mdbRippleRadius>
              <img src="assets/images/Workers.png" class="img-fluid mt-4 pl-3 pr-3" alt="">
            <a>
              <div class="mask mt-4"></div>
            </a>
          </div>
          <!--/.Card image-->
    
          <!--Card content-->
          <div class="card-body text-left">
            <!--Title-->
            <h4 class="card-title">
            </h4>
            <h6 > Ім'я: {{student.firstName}}</h6>
            <h6> Прізвище: {{student.lastName}}</h6>
            <h6> Email: {{student.email}}</h6>
            <h6> Посада: {{student.position}}</h6>
            
    
        <a (click)="onSelect()" class="btn btn-default btn-block waves-light" role="button" mdbWavesEffect>
            <span *ngIf="isSelected; else elseBlock">
                Close<i class="mb-1 ml-2 fa fa-close"></i>
            </span></a>
            <ng-template #elseBlock>
                <i class="mr-2 fa fa-envelope"></i>Написати повідомлення
            </ng-template>
         
          <!--/.Card content-->
    
        </div>
        <!--/.Card-->
      </div>
    </div>
    </div>
    </div>